python-dotenv
fastapi
uvicorn
colorama

langchain>=0.0.335
langchain-core>=0.1.27
langchain-google-genai
langchain-community
langgraph
langchain-chroma
jq
langchain-chroma>=0.1.2

faiss-cpu